# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# VSCode
.vscode/

# Environments
.env
.venv
env/
venv/

# Alembic
alembic/versions/*.pyc
alembic/__pycache__/

# OS
.DS_Store
Thumbs.db

# Migrations cache
*.sqlite3
